/*enlever les marges par defaut des navigateurs*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


body {
    font-family: 'Poppins'; /*police*/
    height: 100vh;
    width: 100vw;
    background-image: url(../img/dome.jpg); 
    background-size: cover; /*Plein ecran*/
}

.navbar {
    position: relative;
    margin-top: 0px;
    padding: 5px;
    background-color: rgba(53, 59, 63, 0.374);
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 0;
}
 
.navbar a {
    color: rgb(235, 235, 235);
}

.navbar .logo {
    font-size: 2em;
    font-weight: bold;
    margin-left: 20px;
} 

.navbar .navlinks ul{
    display: flex;
}

.navbar .navlinks ul li{
    margin: 0 25px;
    padding-bottom: 30px;
    margin-top: 20px;
}

.navbar .navlinks ul li.active a {
   color: rgb(160, 160, 160); 
   font-weight: 600;
}

.navbar .menubu {
    display: none;
    position: absolute;
    top: 50px;
    right: 30px;
    width: 35px;
}

/*Acceuil page*/
.bienv {
    color: aliceblue;
    position: absolute;
    margin-top: 150px;
    text-align: center;
    font-size: 3em;
    width: 100%;
}


/*Galerie Page*/
    .gal {
        display: flex;
        max-width: 1100px;
        margin: 0 auto;
        flex-wrap: wrap;
        gap: 2vmin;
        padding: 0 14px;
        margin-top: 50px;
    }
    .gal::after {
        content: "";
        display: block;
        flex-grow: 10;
    }
    .gal li {
        list-style-type: none;
        height: 350px;
        flex-grow: 1;
    }

    .gal img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }




@media screen and (max-width: 900px) {
    .navbar {
        padding: 0;
        position: relative;
        margin-top: 0;
    }

    .navbar .logo {
        position: absolute;
        top: 10px;
        left: 30px;
    } 


    .navbar .menubu {
        top: 10px;
        display: block;
        background-color: aliceblue;
        border-radius: 20px;
        z-index: 1;
    }

    .navlinks.mobilemenu {
        margin-left: 0;
    }

    .navlinks {
        top: 0;
        left: 0;
        z-index: 1;
        position: absolute;
        background-color: rgba(32, 32, 32, 0.752);
        backdrop-filter: blur(2px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    .navlinks ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .navlinks ul li{
        font-size: 1.2em;
        display: block;
    }


    .gal {
        display: flex;
        max-width: 1100px;
        margin: 0 auto;
        flex-wrap: wrap;
        gap: 2vmin;
        padding: 0 14px;
        background-color: rgba(0, 0, 0, 0.618);
        margin-top: 75px;
    }

    .gal::after {
        content: "";
        display: block;
        flex-grow: 10;
    }

    .gal li {
        list-style-type: none;
        height: 500px;
        flex-grow: 1;
    }

    .gal img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}